# Backend - .NET
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/.vs/

# Frontend - Angular
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/.vscode/

# IDEs
.vscode/
.idea/
.history/

# Logs e temporários
*.log
*.tmp
*.swp

# Sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Outros
*.code-workspace
